extends ../layouts/application.pug

block header
  = t('views.labels.edit.title')

block content
  +formFor()(action=`/labels/${pageId}` method='post')
    +input(label, 'name', t('views.labels.name'), errors)(type='text')
    +submit(label, 'patch')(value=t('views.labels.edit.button'))
