extends ../layouts/application.pug

block header
  = t('views.welcome.public.title')

block content
  if !isAuthenticated()
    +centerize
      .d-flex.justify-content-center
        h2= t('views.welcome.public.message')
      .d-flex.justify-content-center
        a.link-primary(href=route('newSession'))
          h2= t('views.welcome.public.link')
