extends ../layouts/application.pug

block header
  = t('views.welcome.public.title')

block content
  if !isAuthenticated()
    .d-flex.justify-content-center
      .card
        .card-body
          h2= t('views.welcome.public.message')
