extends ../layouts/application.pug

block header
  h1.display-6= t('views.welcome.public.title')

block content
  if !isAuthenticated()
    .d-flex.flex-column.flex-grow-1.justify-content-center
      .d-flex.justify-content-center
        h2= t('views.welcome.public.message')
      .d-flex.justify-content-center
        a.link-primary(href=route('newSession'))
          h2= t('views.welcome.public.link')
